@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #fff;
  background-color: #12352f;
}

main {
  background: #12352f;
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #ff3333;
}
